/*-------------- BODY-------------------*/
html {
    font-size: 10px;
}
/*-------------- LAYOUT-------------------*/
.main-container {
    display: flex;
    width: 1200px;
}

/*-------------- STRUCTURE GENERALE -------------------*/
ul {
    list-style-type: none;
}

.clean {
    clear: both;
}
h1, h2 {
    text-transform: uppercase;
}
/*-------------- ASIDE-------------------*/
aside {
    background-color: #647087;
    width: 30%;
    margin-right: 3%;
}
aside * {
    color: white;
}
aside section h2:first-child{
    border-bottom: 2px solid white;

}
aside h2 {
    text-transform: capitalize;
    letter-spacing: 5px;
}
#photocv img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}
/*-------------- MAIN-------------------*/
main section > h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}
.presentation {
    background-color: #EDC0AF;
    box-shadow: 2px 2px 40px 1px #647087 inset;
    padding: : 15% 0;
}
.presentation h2 {
    color: white;
    border-top: 2px solid white;
    letter-spacing: 15px; 
}
.presentation h1 {
    letter-spacing: 10px;
}
.propos {
    background-color: #EDC0AF;
}
.propos h2 {
    background-color: white;
}
.propos p {
    line-height: 1.5em;
}
article h3, article h4 {
    font-weight: bold;
}
article ul {
    list-style-type: square;
}
/*-------------- REFERENCES -------------------*/
.references {
    display: flex;
    flex-wrap: wrap;
    background-color: #F7DDC3;
}
.references article {
    width: 50%;
    text-align: center;
}
/*-------------- DESCRIPTIONS ASIDE-------------------*/
dt,dd {
    border-top: 1px solid white;
    line-height: 1.5rem;
}
dt:last-of-type,
dd:last-of-type {
border-bottom: 1px solid white;
}
dl {
    display: flex;
    flex-wrap: wrap;
}
dt,dd {
    flex-basis: 40%;
    margin: 0;

}
/*-------------- ICONS SOCIAL-------------------*/
.fb::before {
    content: "\f09a";
    font-family: "Font Awesome 5 Free";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content:"\f007";
}